{% extends "layout.html" %}

{% block body %}
<script type="text/javascript">
$(function() {
    $("#slides").slides({
        effect: 'slide, fade',
        play: 5000,
        generateNextPrev: false,
        pagination: false,
        generatePagination: false
    });

    initialize({{ programa.lat }}, {{ programa.lon }});

});

function initialize(latitud, longitud) {
        var mapOptions = {
            zoom: 16,
            center: new google.maps.LatLng(latitud, longitud),
            mapTypeId: google.maps.MapTypeId.ROADMAP }
        var map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);
        var image = '{{ STATIC_URL }}img/logo.png';
        var myLatLng = new google.maps.LatLng(latitud, longitud);
        var beachMarker = new google.maps.Marker({
                            position: myLatLng,
                            map: map,
                            icon: image
                            });
}
</script>
<div class="row" style="margin-top: 20px;">
  <div class="span9">
    <h2>{{ programa.nombre }}</h2>
    <div id="slides">
        <div class="slides_container"> 
            {% for foto in programa.imagenprograma_set.all %}
                <div>
                    <img src="{{ MEDIA_URL }}{{ foto.imagen }}" />
                </div>
            {% endfor %}
        </div>
    </div>

    <hr />

    <div class="row">
      <div class="span3">
        <div id="map_canvas" style="width: 220px; height: 220px"></div>
        
        <hr />

        <dl class="dl-horizontal">
            <dt>Precio:</dt>
            <dd>{{ programa.costo }}</dd>
            <dt>Duración:</dt>
            <dd>{{ programa.duracion }} horas</dd>
        </dl>

        <hr />

        <div class="fb-like" data-href="http://espiante.co" data-send="true" data-layout="button_count" data-width="320" data-show-faces="false" data-colorscheme="dark" data-font="verdana"></div>
        <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>
      </div>
      <div class="span6">
        <p>{{ programa.descripcion }}</p>
      </div>
    </div>
  </div>
  <div class="span3">
    <h2>{{ programa.guia.nombre }}</h2>
    <img class="thumbnail" src="{{ STATIC_URL }}img/nico-bases.jpeg" />

    <hr />

    <h3>Bio</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi est felis, volutpat at tristique et, varius ac augue. Quisque accumsan dignissim varius...</p>

    <hr />

    <button class="btn btn-primary" href="#">Contratar experiencia</button>
  </div>
</div>
{% endblock %}
