{% extends "layout.html" %}

{% block body %}
<script type="text/javascript">

$(function() {
    initialize(-38.416097, -63.616671999999994);
});

function initialize(latitud, longitud) {
        var mapOptions = {
            zoom: 4,
            center: new google.maps.LatLng(latitud, longitud),
            mapTypeId: google.maps.MapTypeId.ROADMAP }
        var map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);
        var image = '{{ STATIC_URL }}img/logo.png';
        var myLatLng = new google.maps.LatLng(latitud, longitud);
        var programa_marker = new google.maps.Marker({
                            position: myLatLng,
                            map: map,
                            icon: image,
                            draggable: true
                            });

        google.maps.event.addListener(programa_marker, "dragend", function(event) {
            var point = programa_marker.getPosition();
            $('#id_lat').val(point.lat());
            $('#id_lon').val(point.lng());
        });
}
</script>
<form action="" method="post" id="programa_form">
    {% csrf_token %}
    {{ form }}
    <input type="submit" name="submit" id="submitleft" class="button" value="Enviar" tabindex="5" />
    <div id="map_canvas" style="width: 300px; height:300px"></div>
</form>
{% endblock %}
