#search-container { 
	background: url(../img/marcoslopez.jpg) no-repeat center center;
}

#slides img {
    width: 420px;
    height: 300px;
}
.slides_container {
    width: 320px;
    height: 200px;
}

.slides_container div {
    width: 320px;
    height: 200px;
    display:block;
}

#map_canvas {
    height: 100%;
}

@media print {
    html, body {
    height: auto; }

    #map_canvas {
    height: 650px;
    }
}
