#search-container { 
	background: url(../img/marcoslopez.jpg) no-repeat center center;
}
/*
#slides img {
    width: 620px;
    height: 400px;
}*/
.slides_container {
    width: 700px;
    height: 400px;
}

.slides_container div {
    width: 700px;
    height: 400px;
    display:block;
}

#map_canvas {
    height: 100%;
}

@media print {
    html, body {
    height: auto; }

    #map_canvas {
    height: 650px;
    }
}
